/*
  1. Use a more-intuitive box-sizing model.
*/
html{
  background-color: #31334B
}
*, *::before, *::after {
  box-sizing: border-box;
}


:root {
  --header-height: 100px;
}


/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: start;
  background-color: #31334B;
  color: white;
  font-family: 'Roboto Mono', monospace;
} */







.link-button {
  background: none;
  color: black;
  text-decoration: underline;
  font-family: 'Roboto Mono', monospace;

}

#navbar-logo{
  height:100px;
  width: 125px;
}

.navbar{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: #1b1830;
  justify-content: space-between;
  align-items: center;
  width:100%;
  height: var(--header-height);
  margin-bottom:10px;
}
.navbar-links{
  display: flex;
  flex-direction: row;
  gap:3px;
}

.navbar-link{
  background-color: #A14E64;
}


.active-navbar-link, .navbar-link{
  margin: 10px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Roboto Mono', monospace;
  color:white;
  text-align: center;
  font-weight: bold;
  border: solid 2px black;
  padding: 15px 30px;
}

.active-navbar-link, .navbar-link:hover{
  background-color: #5B3153;
  font-weight: bolder;
  font-style: italic;
}

.visible{
  visibility: visible;
}
.hidden{
  visibility: hidden;
}
