.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination-arrows{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}
.pagination-page-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}